{% extends "base_bss.html" %}

{% block content %}
    <h1 style="text-align: center">About Us</h1>
    <h3 style="text-align: center">Welcome to Salted Vanilla's Closed Beta v3</h3>
    <div class="container">
    <p>Hello friend !</p>
    <p>Salted Vanilla is a scented candle cataloging web app. Our main goal is to help candle lovers keep track of their candle collection !</p>
    <p>Users can add candles to the site, review existing candles, and create a few lists !</p>
    <p>Since v2, we added have/had/want lists and improved our Search function. Please let us know what you think about our features !</p>
    <p>I welcome thoughts about the app. Please send me your thoughts to SaltedVanillaApp @ gmail.com !</p>
    <p>Thank you for inquiring Salted Vanilla !</p>
    </div>
    
{% endblock %}