{% extends "base.html" %}

{% block title %}
    <title>Front Page</title>
{%  endblock %}

{% block content %}
    <h1>Welcome to Salted Vanilla</h1>
    <p>Welcome to Salted Vanilla, your home for everything related to scented candles.</p>

    <h2>Records</h2>
    <p>This app currently has the following records:</p>
    <ul>
        <li><strong>Candles:</strong> {{ num_candles }}</li>
        <li><strong>Brands:</strong> {{ num_brands }}</li>
        <li><strong>Reviews:</strong> {{ num_reviews }}</li>
    </ul>
{% endblock %}