{% extends "base.html" %}
{% block head_addition %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%;
            margin-top: 5vh;
            margin-left: 5vh;
        }
    </style>
    
    
    <h1> {{ profile.username }}'s Profile </h1>
    <br>
    {% if user.is_authenticated %}
        {% if profile.pk == user.pk %}
            <p>This is your profile.</p>
        {% endif %}
    {% endif %}
    {# ################### Favorites ############################## #}
    <h3>Favorites:</h3>
    {% if favorites_list %}
        
        <div class="container">
        <div class="row">

                    {% for list_item in favorites_list.items.all %}
                        <div class="col-xs-12 col-lg-4">
                <div class="card mx-auto" style="width: fit-content; height: fit-content;">
                    {% if list_item.candle_id.candle_image and list_item.candle_id.isImageAdminApproved %}
                        <img src="/media/{{ list_item.candle_id.candle_image }}" alt="" class="card-img-top mx-auto" style="width:100px; padding-top: 1vh">
                    {% else %}
                        <img src="/media/defaults/logo2.png" alt="" class="card-img-top">
                    {% endif %}
                    <a href={{ list_item.candle_id.get_absolute_url }}>{{ list_item.candle_id.name }}</a>
                        </div>



            </div>
                {% endfor %}

        </div>

        </div>
    {% endif %}
    {# ############################################################### #}
    <br>
    {# ################### Lists ############################## #}
    <h3>Lists:</h3>
    <div class="container">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Have
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          {% if have_list %}
        <div class="container">
        <div class="row">

                    {% for list_item in have_list.items.all %}
                        <div class="col-xs-4 col-lg-2">
                <div class="card mx-auto" style="width: fit-content; height: fit-content;">
                    {% if list_item.candle_id.candle_image and list_item.candle_id.isImageAdminApproved %}
                        <img src="/media/{{ list_item.candle_id.candle_image }}" alt="" class="card-img-top mx-auto" style="width:100px">
                    {% else %}
                        <img src="/media/defaults/logo2.png" alt="" class="card-img-top">
                    {% endif %}
                    <a href={{ list_item.candle_id.get_absolute_url }}>{{ list_item.candle_id.name }}</a>
                        </div>



            </div>
                {% endfor %}

        </div>

        </div>
    {% else %}
      <p>There are no candles in this list.</p>        
    {% endif %}
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Want
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          {% if want_list %}
        <div class="container">
        <div class="row">
                    {% for list_item in want_list.items.all %}
                        <div class="col-xs-4 col-lg-2">
                <div class="card mx-auto" style="width: fit-content; height: fit-content;">
                    {% if list_item.candle_id.candle_image and list_item.candle_id.isImageAdminApproved %}
                        <img src="/media/{{ list_item.candle_id.candle_image }}" alt="" class="card-img-top mx-auto" style="width:100px">
                    {% else %}
                        <img src="/media/defaults/logo2.png" alt="" class="card-img-top">
                    {% endif %}
                    <a href={{ list_item.candle_id.get_absolute_url }}>{{ list_item.candle_id.name }}</a>
                        </div>
                </div>
                    {% endfor %}
            </div>
            </div>
        {% else %}
          <p>There are no candles in this list.</p>        
        {% endif %}
            </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Had
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          {% if had_list %}
        <div class="container">
        <div class="row">
                    {% for list_item in had_list.items.all %}
                        <div class="col-xs-4 col-lg-2">
                <div class="card mx-auto" style="width: fit-content; height: fit-content;">
                    {% if list_item.candle_id.candle_image and list_item.candle_id.isImageAdminApproved %}
                        <img src="/media/{{ list_item.candle_id.candle_image }}" alt="" class="card-img-top mx-auto" style="width:100px">
                    {% else %}
                        <img src="/media/defaults/logo2.png" alt="" class="card-img-top">
                    {% endif %}
                    <a href={{ list_item.candle_id.get_absolute_url }}>{{ list_item.candle_id.name }}</a>
                        </div>
                </div>
                    {% endfor %}
            </div>
            </div>
        {% else %}
          <p>There are no candles in this list.</p>        
        {% endif %}
            </div>
    </div>
  </div>
</div>
        <br>
        {# ################################################################### #}
    </div>
    {% for review in reviews_List %}
        <h3>They reviewed: <small><a href="{{ review.candle_id.get_absolute_url }}">{{ review.candle_id.name }} by {{ review.candle_id.brand_id }}</a></small></h3>

        <div class="card mb-4 col-lg-8" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4 text-center">
                    <p>{{ review.user_id.username }}</p>
                    <img src="/media/defaults/logo.png" class="img-fluid rounded-start" >
                    {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                            <i class="fa fa-solid fa-star"></i>
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
    {#                  <h5 class="card-title">Card title</h5>#}
                        <p class="card-text">{{ review.review_text }}</p>
                        <p class="card-text"><small class="text-muted">{{ review.date_created }}</small></p>
                        {% if user.is_authenticated %}
                            <small><a href="{% url 'report-add-form' 1 review.pk %}">Report</a></small>
                            {% if profile.pk == user.pk %}
{#                                <br>#}
{#                                <a href="{% url 'review-update' review.pk %}">Update</a>#}
                                <br>
                                <a href="{% url 'review-delete' review.pk %}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}