{% extends "base.html" %}
{% block head_addition %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <h2> {{ candle.name }}<br>
                    <small class="text-body-secondary"> by <a href="{% url 'brand-detail' candle.brand_id.pk %}">{{ candle.brand_id }}</a></small>
                </h2>
                {% if candle.candle_image and candle.isImageAdminApproved %}
                    <img src="/media/{{ candle.candle_image  }}" alt="" style="width: 100%;">
                {% else %}
                    <img src="/media/defaults/logo2.png" alt="" style="width: 100%">
                {% endif %}
                
            </div>
            <div class="col-xs-12 col-lg-6">
                <h3>Key Notes: </h3>
                <ul>
                    {% for note in candle.notes.all %}
                        <li>{{ note }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    {# ##################### Buttons underneath candle pic #################################################### #}
        {% if isReviewed %}
            <button type="button" class="btn btn-primary disabled">Reviewed</button>
        {% else %}
            <a href="{% url 'review-add-form' candle.pk %}" class="btn btn-primary" style="margin: 5px 5px 5px 5px">+Review</a>
        {% endif %}
    
        {% if favorite_item %}
            <a href="{% url 'listitem-delete-form' favorite_item.pk %}" class="btn btn-outline-danger" style="margin: 5px 5px 5px 5px">-Favorites</a>
        {% else %}
            <a href="{% url 'listitem-add-form' 4 candle.pk %}" class="btn btn-secondary" style="margin: 5px 5px 5px 5px">+Favorites</a>
        {% endif %}
    
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-primary">Lists</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
              {% if have_item %}  
                  <a class="dropdown-item" href="{% url 'listitem-delete-form' have_item.pk %}">-Have List</a>
              {% else %}  
                  <a class="dropdown-item" href="{% url 'listitem-add-form' 1 candle.pk %}">+Have List</a>
              {% endif %}
            
                {% if had_item %}  
                  <a class="dropdown-item" href="{% url 'listitem-delete-form' had_item.pk %}">-Had List</a>
                {% else %}  
                  <a class="dropdown-item" href="{% url 'listitem-add-form' 2 candle.pk %}">+Had List</a>
                {% endif %}
                
                {% if want_item %}  
                  <a class="dropdown-item" href="{% url 'listitem-delete-form' want_item.pk %}">-Want List</a>
                {% else %}  
                  <a class="dropdown-item" href="{% url 'listitem-add-form' 3 candle.pk %}">+Want List</a>
                {% endif %}
            </div>
          </div>
        </div>
{#    ################################ Experience Section ##########################}
        <hr>
        
            <h3>Experience<br><small class="text-body-secondary">{% if experience_vote_count %}as determined by {{ experience_vote_count }} votes {% else %}No votes yet{% endif %}</small></h3>
                {% if experience_vote_count %}
                <ul>
                    <li>Cold Throw: {% if candle.get_average_cold_throw_rating > 0 %}{{ candle.get_average_cold_throw_rating }}{% else %}No votes{% endif %}</li>
                    <li>Warm Throw: {% if candle.get_average_warm_throw_rating > 0 %}{{ candle.get_average_warm_throw_rating }}{% else %}No votes{% endif %}</li>
                </ul>
                {% endif %}
                {% if user_experience_vote %}
                    <p>Your votes:</p>
                    <ul>
                    <li>Cold Throw: {% if user_experience_vote.cold_throw_rating > 0 %}{{ user_experience_vote.cold_throw_rating }}{% else %}No votes{% endif %}</li>
                    <li>Warm Throw: {% if user_experience_vote.warm_throw_rating > 0 %}{{ user_experience_vote.warm_throw_rating }}{% else %}No votes{% endif %}</li>
                    </ul>
                    <a href="{% url 'candle-experience-update-form' user_experience_vote.pk %}">Update Vote Here!</a>
                {% else %}
                    <a href="{% url 'candle-experience-add-form' candle.pk %}">Vote here!</a>
                {% endif %}
    
        
{#    ##############################################################################}
{# ###################################################### Review Section ########################################################### #}        
        <hr>
        <section>
        <h3>Reviews:</h3>
            {# I added d-block to this div to make every card/review it's own row without making it wider          #}
            <div class="container">
            <div class="row d-block">
                {% if reviews_list %}
                {% for review in reviews_list %}
                    {% if review.isVisible %}
                        {# I added col-lg-8 and changed mac-width:100% to control width of card/review                   #}
                        <div class="card mb-4 col-lg-8" style="max-width: 100%;">
                          <div class="row g-0">
                            <div class="col-md-4 text-center">
                              <a href="{% url 'profile' review.user_id.username %}"> {{ review.user_id.username }} </a>  
                              <img src="/media/defaults/logo.png" class="img-fluid rounded-start" >
                              
                              {% with ''|center:review.rating as range %}
                              	{% for _ in range %}
                              		<i class="fa fa-solid fa-star"></i>
                              	{% endfor %}
                              {% endwith %}  
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
    {#                            <h5 class="card-title">Card title</h5>#}
                                <p class="card-text">{{ review.review_text }}</p>
                                <p class="card-text"><small class="text-muted">{{ review.date_created }}</small></p>
                                  {% if review.user_id != request.user %}
                                      {% if review.is_liked %}
                                          <small>Loved({{ review.like_count }})</small><br>
                                      {% else %}
                                          <small><a href="{% url 'reviewlike-add-form' review.pk %}">Love({{ review.like_count }})</a></small><br>
                                      {% endif %} 
                                      
                                    <small><a href="{% url 'report-add-form' 1 review.pk %}">Report</a></small>
                                  {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <p>There are no reviews for this candle.</p>
                {% endif %}
            </div>
            </div>

        </section>
        <hr>
    </div>
{% endblock %}