{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Add to list</h1>
    {% if isFavoriteList %}
    <p>If you already have 3 favorites, the submit button will only refresh the page! Remove one of those first to add another</p>
    {% endif %}
    <div class="container">
         <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}